// Place all the styles related to the Eateries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar {
  width: 90px;
  margin-bottom: 10px;
}

.logout {
  margin-top: 30px;
}

.navbar-brand {
  font-weight: 800;
  line-height: 28px;
  color: #b5b5b5;
  margin: 0px 42px 0px 42px;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
  color: #989898;
}

.mapNewAdd {
  width: 100% !important;
}

.showMap {
  position:absolute;
  left:0;
  height: 480px;
}

.map {
  position:absolute;
  left:0;
  height: 457px;
  top: 20px;
  left: 20px;
}

.latLong {
  display: none;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  clear: inherit;
  position: absolute;
  top: 0px;
  right: 50px;
}

.showTitle {
  color: rgb(135, 127, 116);
  font-size: -webkit-xxx-large;
}

.showTitleHeader {
  margin-top: -25px;
  background: white;
  width: 40%;
}

.nothingFound {
  text-align: left;
  margin: 150px 0px 0px 250px;
  width: 450px; 
}
.info{
  color: #b16767;  
  text-transform: capitalize;
}

.listingEateries {
  width: 100%;
  height: auto;
  padding-left: 20%;
  padding-right: 5%;
}

.eateryImg {
  width: 100%;
  height: 165px;
}

.eateryTitle {
  margin-top: 3px;
}

.titleImg {
  margin-top: 3px;
  padding: 23px !important;
  background: #fff !important; 

}