// Place all the styles related to the Eateries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar {
  width: 100% !important;
  margin-bottom: 20px;
  border-radius: 0px;
}

.logout {
  margin-top: 30px;
}

.navbar-brand {
  font-weight: 800;
  line-height: 28px;
  color: #b5b5b5;
  margin: 0px 42px 0px 42px;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
  color: #989898;
}

.mapNewAdd {
  width: 100% !important;
  overflow: visible;
  height: 518px;
  border: 2px solid #dadada;
  border-radius: 5px;
}

.showMap {
  position:absolute !important;
  overflow: none;
  left:0;
  height: 100%;
  width: 100%;
  top: 0;
}

.map {
  position:absolute;
  left:0;
  top: 20px;
  left: 20px;
}

.latLong {
  display: none;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  clear: inherit;
  position: absolute;
  top: 0px;
  right: 50px;
}

.showTitle {
  color: rgba(251, 94, 94, 0.85);
  font-size: -webkit-xxx-large;
}
.showSubTitle {
  color: rgba(255, 255, 255, 0.76);
}

.showTitleHeader {
  margin-top: -25px;
  background: white;
  width: 35%;
}

.showCategory {
  color: rgb(105, 105, 105)
}

.cuisineCategory {
  position: absolute;
  /* top: 0; */
  width: 180px;
  line-height: 45px;
  /* padding: 0 10px; */
  background: rgba(0, 197, 222, 0.9);
  /* transform: rotate(90deg); */
  transform: rotate(270deg);
  transform-origin: left 0;
  color: white;
  font-weight: 600;
}

.categoryHeader {
  float: left;
  margin: 80px 0 0 100px;
  padding-top: 33px !important;
  background: rgba(229, 229, 229, 0.1) !important;
  box-shadow: none !important;
  color: #c1c1c1;
}

.nothingFound {
  text-align: center;
  margin: 130px 0px 0px 255px;
  width: 510px;
}
.info{
  color: #b16767;  
  text-transform: capitalize;
}

.listingEateries {
  width: 100%;
  height: auto;
  padding-left: 20%;
  padding-right: 45px;
}

.eateryImg {
  width: 100%;
  height: 180px;
}

.eateryTitle {
  margin-top: 3px;
  color: #1c1c1c;
  font-size: medium;
  font-weight: 700;
}

.titleImg {
  margin-top: 5px;
  padding: 20px !important;
  background: rgb(228, 228, 228) !important; 
}

.titleHeaderShow {
  padding: 40px 60px !important;
  background: rgba(0, 0, 0, 0.81) !important;
  position: relative;
  top: 0;
  z-index: 999;
  height: 100%;
  position: fixed;
  width: 35%;
}

.headerRibbon {
  background: #3e3e3e;
  line-height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  color: white;
  border-bottom: 2px solid #ff6e6e;
  text-transform: uppercase;
}

.top-100 {
  margin-top: 100px;
}

.location {
  float: right;
  margin-top: 153px;
  right: 50px;
  position: absolute;
  font-size: 14px;
  width: 100%;
  text-align: right;
  letter-spacing: 1px;
  color: #e2e2e2;
}

.btn-array {
  margin: 0 10px 0 0;
}

form[class*='_eatery'] {
  padding: 30px;
  background: #fff;
  border: 2px solid #dadada;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

