.avatar {
  width: 100% !important;
  margin-bottom: 20px;
  border-radius: 0px;
  box-shadow: 0px 3px 0px #5f5e5e;
}

.logout {
  margin-top: 30px;
}

.navbar-brand {
  font-weight: 800;
  line-height: 28px;
  color: #b5b5b5;
  margin: 0px 42px 0px 42px;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
  color: #989898;
}

.mapNewAdd {
  width: 100% !important;
  overflow: visible;
  height: 518px;
  border: 2px solid #dadada;
  border-radius: 5px;
}

.showMap {
  position: absolute !important;
  overflow: none;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
}


.map {
  position: absolute;
  left: 0;
  top: 20px;
  left: 20px;
}

.latLong {
  display: none;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  clear: inherit;
  position: absolute;
  top: 0px;
  right: 50px;
}

.showTitle {
  color: rgba(249, 71, 71, 0.99);
  font-size: 55px;
}

.showSubTitle {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
}

.showTitleHeader {
  margin-top: -25px;
  background: white;
  width: 35%;
  line-height: 1.5;
}

.showCategory {
  color: rgba(255, 255, 255, 0.6);
}

.cuisineCategory {
  position: absolute;
  /* top: 0; */
  width: 145px;
  line-height: 46px;
  text-align: center;
  background: #5f5e5e;
  /* transform: rotate(90deg); */
  transform: rotate(270deg);
  transform-origin: left 0;
  color: white;
  font-weight: 600;
  margin: 145px 0px;
  border-radius: 3px 0px 0px 0px;
}

.categoryHeader {
  margin: 80px 0 0 100px;
  padding-top: 33px !important;
  background: #e6e6e6 !important;
  box-shadow: none !important;
  color: #949494;
}

.nothingFound {
  text-align: center;
  margin: 15em auto;
  width: 510px;
}

.info {
  color: #b16767;
  text-transform: capitalize;
}

.listingEateries {
  width: 75%;
  float: left;
  margin-left: 20em;
  margin-bottom: 15em;
}

.eateryImg {
  width: 100%;
  height: 200px;
  /* padding: 1px; */
  opacity: 1.0;
  border-radius: 3px 3px 0 0;
}

.eateryTitle {
  margin-top: 3px;
  color: #1c1c1c;
  font-size: 22px;
  font-weight: 700;
}

.titleImg {
  margin: 0px 0 0 65px;
  padding: 25px 0px !important;
  background: #e4e4e4 !important;
}

.titleHeaderShow {
  padding: 40px 60px !important;
  background: rgba(0, 0, 0, 0.8) !important;
  position: relative;
  top: 0;
  z-index: 999;
  height: 100%;
  position: fixed;
  width: 32%;
}

.showBackground {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  left: 0;
  opacity: 0.25;
  background-size: cover !important;
}

.headerRibbon {
  background: #3e3e3e;
  line-height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  color: white;
  border-bottom: 2px solid #ff6e6e;
  text-transform: uppercase;
}

.top-100 {
  margin-top: 100px;
}

.location {
  float: right;
  position: absolute;
  font-size: 14px;
  width: 100%;
  text-align: right;
  color: #757575;
  font: 'Ruda', sans-serif;
}

.headerLinks {
  font-size: 14px;
  text-align: left;
  color: #757575;
  position: absolute;
  width: 100%;
}

.headerLinks a {
  margin-right: 20px;
  color: #757575;
  text-decoration: none;
}

.headerLinks .fa {
  margin-right: 5px;
}

.ratings {
  position: absolute;
  top: 194px;
  background: rgba(214, 57, 59, 0.73);
  left: 30px;
  padding: 0.68em;
  font-weight: 700;
  border-radius: 0px 3px 0px 0;
}

.ratings i {
  color: white !important;
}

.priceRange {
  right: -65px;
  position: relative;
  bottom: 35px;
  font-size: 0px;
}

.priceRange i {
  color: #b5b5b5 !important;
}

.btn-array {
  margin: 0 10px 0 0;
}

form[class*='_eatery'] {
  padding: 30px;
  background: #fff;
  border: 2px solid #dadada;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Footer */

#footer {
  background: #5f5e5e;
  padding: 10em 0;
  text-align: center;
  margin-left: 200px;
  margin-top: 150px;
  clear: both;
}

#footer .icons .icon.alt {
  text-decoration: none;
  font-size: 18px;
}

#footer .icons .icon.alt:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#footer .icons .icon.alt:before {
  color: rgba(169, 169, 169, 0.89) !important;
}

#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  line-height: 1em;
  margin: 2em 0 0 0;
  padding: 0;
  text-align: center;
}

#footer .icons li {
  display: inline-block;
}

#footer .copyright li {
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  display: inline-block;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright li a {
  color: inherit;
}

.tos {
  margin: 10em 6em;
}
