%header.header.black-bg
  .sidebar-toggle-box
    .fa.fa-bars.tooltips{"data-original-title" => "Toggle Navigation", "data-placement" => "right"}
  / logo start
  = link_to 'BingBites', root_path, class: 'navbar-brand'
  / logo end
  .top-menu
    %ul.nav.pull-right.top-menu

= render 'sidebar'

- if @eateries.count == 0
  .listingEateries
    .row
      %h1 There are no eateries available yet
- else
  .listingEateries
    .row
      - @eateries.each do |eatery|
        .col-md-3
          .tr
            .td=eatery.name 
            .td=eatery.address
          = link_to "Show Details for #{eatery.name}", eatery_path(eatery)
          / = image_tag ea.book_img.url(:book_index), class: "book"


