%nav.navbar.navbar-inverse
  .container
    .navbar-header
      = link_to 'Social Freak', root_path, class: 'navbar-brand'
    #navbar
      - if current_user
        %ul.nav.navbar-nav.pull-right
          %li= image_tag current_user.image_url, alt: current_user.name
          %li= link_to 'Log Out', logout_path, method: :delete
      - else
        %ul.nav.navbar-nav
          %li= link_to 'Twitter', '/auth/twitter'
